.Notifications {
  position: fixed;
  top: 30px;
  right: 20px;
  width: 33.33%;
  height: 140px;
  padding: 20px;
  border: 2px dashed lightblue;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.menuItem {
  position: fixed;
  padding: 10px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #e1354b;
}

li[data-notification-type='default'] {
  color: blue;
}

li[data-notification-type='urgent'] {
  color: red;
}

  