.App-footer {
    text-align: center;
    font-size: 20px;
    font-style: italic;
    padding: 20px;
    border-top: 4px solid red;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f5f5f5;
    z-index: 1;
  }
  